<div class="flex flex-col mx-10 my-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div class="flex items-center mx-1">
        <label for="X">Rows : </label>
        <input
          type="number"
          class="border p-1 w-12 rounded ml-1"
          [(ngModel)]="gridLayout.rows"
          [value]="gridLayout.rows"
          [disabled]="gridItems.length > 0"
        />
      </div>
      <div class="flex items-center mx-1">
        <label for="X">Cols : </label>
        <input
          type="number"
          class="border p-1 w-12 rounded ml-1"
          [(ngModel)]="gridLayout.cols"
          [value]="gridLayout.cols"
          [disabled]="gridItems.length > 0"
        />
      </div>
      <button
        [disabled]="gridItems.length"
        (click)="onGridSave($event)"
        class="py-1 px-2 rounded border mx-2 bg-blue-100"
      >
        Save
      </button>
    </div>
    <div>
      <select
        class="border px-2 py-1 rounded mx-1"
        (change)="changePanel()"
        [(ngModel)]="selectedPanel"
      >
        <option value="undefined">-Select-</option>
        <option *ngFor="let panel of panels" [ngValue]="panel">
          {{ panel.model + " - " + panel.power + "W" }}
        </option>
      </select>
      <select
        class="border px-2 py-1 rounded mx-1"
        (change)="changeString()"
        [(ngModel)]="selectedString"
      >
        <option value="undefined">-Select-</option>
        <option *ngFor="let string of strings" [ngValue]="string">
          {{ string.name }}
        </option>
      </select>
    </div>
  </div>
  <div
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    class="p-7 gap-1 my-1 w-max"
    style="display: grid; background-image: url('/assets/roof.jpg'); background-size: contain;"
    *ngIf="gridItems.length > 0"
    [style.grid-template-columns]="gridLayoutStyle()"
  >
    <button
      *ngFor="let item of gridItems"
      class="py-1 px-2 border-black border-8 rounded w-48 cursor-pointer duration-200 h-36 relative text-xs flex flex-col items-center justify-center"
      [ngClass]="{
        'border-green-600 bg-blue-50': this.selectedItems.includes(item.id)
      }"
      style="
        background-image: url('/assets/module.jpg');
        background-color: black;
        background-size: cover;
      "
      (click)="onClick($event, item)"
      (mousemove)="onMouseMove(item)"
      (mouseover)="hoverOptions(item.row, item.col)"
    >
      <div
        [@fadeInOut]
        *ngIf="item.row === 1 && hoveringCol === item.col"
        class="absolute -top-6 left-14 flex flex-row items-center duration-200 text-lg"
      >
        <button
          (click)="addColumnLeft(item.col)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold"
        >
          &larr;
        </button>
        <button
          (click)="deleteColumn(item.col)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold mx-1"
        >
          -
        </button>
        <button
          (click)="addColumnRight(item.col)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold"
        >
          &rarr;
        </button>
      </div>
      <div
        [@fadeInOut]
        *ngIf="item.col === 1 && hoveringRow === item.row"
        class="absolute -left-6 top-8 flex flex-col items-center duration-200 text-lg"
      >
        <button
          (click)="addRowAbove(item.row)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold"
        >
          &uarr;
        </button>
        <button
          (click)="deleteRow(item.row)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold my-1"
        >
          -
        </button>
        <button
          (click)="addRowBelow(item.row)"
          class="w-5 h-5 text-xs rounded-full border-2 hover:bg-blue-100 duration-200 bg-white border-black font-semibold"
        >
          &darr;
        </button>
      </div>
      <p class="font-semibold p-1 m-1 bg-white rounded border-2 border-black" *ngIf="item.string">{{ item.string?.name }}</p>
      <p class="font-semibold p-1 m-1 bg-white rounded border-2 border-black" *ngIf="item.panel">
        {{ item.panel?.model + " - " + item.panel?.power + "W" }}
      </p>
    </button>
  </div>
</div>
